In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
train_data = pd.read_csv("training_Data.csv")
test_data = pd.read_csv("testing_Data.csv")
train_label = pd.read_csv("training_labels.csv")
train_label.head()

   Price
0   3897
1   7662
2  13882
3   6218
4  13302

In [3]:
train_data = train_data.drop(["Unnamed: 0"],axis=1)
train_data.head()

,Airline,Source,Destination,No_of_days,Weekday,Overnight_Flight,Duration,Total_Stops
0,3,0,5,17,6,1,170,0
1,1,3,0,55,2,0,445,2
2,4,2,1,94,6,1,1140,2
3,3,3,0,66,6,0,325,1
4,3,0,5,-6,4,0,285,1

In [4]:
test_data = test_data.drop(["Unnamed: 0"],axis=1)
test_data.head()

,Airline,Source,Destination,No_of_days,Weekday,Overnight_Flight,Duration,Total_Stops
0,4,2,1,91,3,1,655,1
1,3,3,0,66,6,0,240,1
2,4,2,1,75,1,1,1425,1
3,6,2,1,75,1,0,780,1
4,0,0,2,109,0,1,170,0

In [5]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.grid_search import GridSearchCV

# boost = AdaBoostRegressor(base_estimator=DecisionTreeRegressor(),
#                               random_state=0)
# parameters = {'n_estimators': (1, 2),
#               'base_estimator__max_depth': (1, 2)}
# clf = GridSearchCV(boost, parameters)
# clf.fit(train_data, train_label)

/home/kullu/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/kullu/anaconda2/lib/python2.7/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [10]:
decisionReg = DecisionTreeRegressor(max_depth=10)
rng = np.random.RandomState(1)
adaReg = AdaBoostRegressor(decisionReg,
                           n_estimators=5000,
                           learning_rate=0.0001,
                           random_state=0) 
adaReg.fit(train_data,train_label)

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best'),
         learning_rate=0.0001, loss='linear', n_estimators=5000,
         random_state=0)

In [11]:
price = adaReg.predict(test_data)
price

array([12446.46043165,  4536.17567568, 13274.51470588, ...,
       16003.6       , 12718.6       ,  8861.2394822 ])

In [12]:
df = pd.DataFrame({"Price":price})
df.head()

          Price
0  12446.460432
1   4536.175676
2  13274.514706
3  10141.104902
4   4294.616000

In [13]:
# Convert this result to a xlsx file
df.to_excel("attempt_23_with_AdaBoostRegressor.xlsx")