In [5]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
train_data = pd.read_csv("training_Data.csv")
test_data = pd.read_csv("testing_Data.csv")
train_label = pd.read_csv("training_labels.csv")
train_label.head()

   Price
0   3897
1   7662
2  13882
3   6218
4  13302

In [3]:
train_data = train_data.drop(["Unnamed: 0"],axis=1)
train_data.head()

,Airline,Source,Destination,No_of_days,Weekday,Overnight_Flight,Duration,Total_Stops
0,3,0,5,17,6,1,170,0
1,1,3,0,55,2,0,445,2
2,4,2,1,94,6,1,1140,2
3,3,3,0,66,6,0,325,1
4,3,0,5,-6,4,0,285,1

In [13]:
test_data = test_data.drop(["Unnamed: 0"],axis=1)
test_data.head()

,Airline,Source,Destination,No_of_days,Weekday,Overnight_Flight,Duration,Total_Stops
0,4,2,1,91,3,1,655,1
1,3,3,0,66,6,0,240,1
2,4,2,1,75,1,1,1425,1
3,6,2,1,75,1,0,780,1
4,0,0,2,109,0,1,170,0

In [10]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.grid_search import GridSearchCV

# boost = AdaBoostRegressor(base_estimator=DecisionTreeRegressor(),
#                               random_state=0)
# parameters = {'n_estimators': (1, 2),
#               'base_estimator__max_depth': (1, 2)}
# clf = GridSearchCV(boost, parameters)
# clf.fit(train_data, train_label)

/home/kullu/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=None, error_score='raise',
       estimator=AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best'),
         learning_rate=1.0, loss='linear', n_estimators=50, random_state=0),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_estimators': (1, 2), 'base_estimator__max_depth': (1, 2)},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [18]:
decisionReg = DecisionTreeRegressor(max_depth=10)
rng = np.random.RandomState(1)
adaReg = AdaBoostRegressor(decisionReg,
                           n_estimators=400,
                           random_state=rng) 
adaReg.fit(train_data,train_label)

AdaBoostRegressor(base_estimator=DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best'),
         learning_rate=1.0, loss='linear', n_estimators=400,
         random_state=<mtrand.RandomState object at 0x7fe260e4c7d0>)

In [19]:
price = adaReg.predict(test_data)
price

array([11767.22222222,  6616.5       , 11390.53389831, ...,
       16049.81818182, 11909.275     ,  8938.        ])

In [20]:
df = pd.DataFrame({"Price":price})
df.head()

          Price
0  11767.222222
1   6616.500000
2  11390.533898
3   8888.000000
4   5620.000000

In [21]:
# Convert this result to a xlsx file
df.to_excel("attempt_16_with_AdaBoostRegressor.xlsx")