In [1]:
import pandas as pd
import numpy as n(p
import sklearn
from sklearn.ensemble import BaggingRegressor

In [11]:
train_data = pd.read_csv("training_Data.csv")
test_data = pd.read_csv("testing_Data.csv")
train_label = pd.read_csv("training_labels.csv")
train_label.head()

   Price
0   3897
1   7662
2  13882
3   6218
4  13302

In [13]:
# train_label = train_label.drop(["0"],axis=1)

In [15]:
train_data = train_data.drop(["Unnamed: 0"],axis=1)
train_data.head()

,Airline,Source,Destination,No_of_days,Weekday,Overnight_Flight,Duration,Total_Stops
0,3,0,5,17,6,1,170,0
1,1,3,0,55,2,0,445,2
2,4,2,1,94,6,1,1140,2
3,3,3,0,66,6,0,325,1
4,3,0,5,-6,4,0,285,1

In [27]:
from sklearn.tree import DecisionTreeRegressor

ensemble = BaggingRegressor(DecisionTreeRegressor(),
                            n_estimators=20,
                           random_state=0)

ensemble.fit(train_data,train_label)

BaggingRegressor(base_estimator=DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=3, n_jobs=1, oob_score=False,
         random_state=0, verbose=0, warm_start=False)

In [28]:
price = ensemble.predict(test_data)

In [29]:
price

array([11692.        , 11902.        , 11692.        , ...,
       11720.        ,  7153.66666667, 11720.        ])

In [30]:
df = pd.DataFrame({"Price":price})
df.head()

          Price
0  11692.000000
1  11902.000000
2  11692.000000
3  11692.000000
4   6177.733333

In [31]:
# Convert this result to a xlsx file
df.to_excel("attempt_9_with_BaggingRegressor.xlsx")